<ul>
    {% for follow in followings %}
        <li><a href="{% url 'users:profile' follow.target_user.username %}">
            <img src="{{ MEDIA_URL }}{{ follow.target_user.profile.thumbnail }}" width="50" height="50" />
        </a></li>
    {% endfor %}
</ul>
