{% for follower in followers %}
    <li><a href="{% url 'users:profile' follower.from_user.username  %}">
        <img src="{{ MEDIA_URL }}{{ follower.from_user.profile.thumbnail }}" width="50" height="50"/>
    </a></li>
{% endfor %}