{% extends 'users/base_user.html' %}

{% block title %}
    {{ target_user.profile.name }}さんをフォローしているユーザ
{% endblock %}

{% block extra_css %}{% endblock %}

{% block page_title %}
    {{ target_user.profile.name }}さんをフォローしているユーザ
{% endblock %}

{% block content %}
    <div class="wrapper">
        <p>フォロワー:{{ object_list|length }}人</p>
        {% for follow in object_list %}
            <li><a href="{% url 'users:profile' follow.from_user.username  %}">
                <img src="{{ MEDIA_URL }}{{ follow.from_user.profile.thumbnail }}" width="50" height="50" /></a>
                <p>{{ follow.from_user.profile.name }}</p>
                <p>自己紹介</p>
                <p>{{ follow.from_user.profile.self_introduction|default:"なし" }}</p>
            </li>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
