{% extends 'users/base_user.html' %}

{% block title %}
  {{ target_user.profile.name }} さんのフォロー中のユーザー
{% endblock %}

{% block extra_css %}{% endblock %}

{% block page_title %}
  {{ target_user.profile.name }} さんのフォロー中のユーザー
{% endblock %}

{% block content %}
  <div class="wrapper">
      <p>{{ object_list|length }}人</p>
      {% for follow in object_list %}
            <li><a href="{% url 'users:profile' follow.target_user.username  %}">
                <img src="{{ MEDIA_URL }}{{ follow.target_user.profile.thumbnail }}" width="50" height="50" />
                {{ follow.target_user.profile.name }}
                {{ follow.target_user.profile.self_introduction }}
            </a></li>
      {% endfor %}
  </div>
  {% endblock %}

{% block extra_js %}
{% endblock %}
