{% extends 'base.html' %}

{% block title %}ラウンディングページ{% endblock %}

{% block extra_css %}{% endblock %}

{% block page_title %}ラウンディングページ{% endblock %}

{% block content %}
    <a href="{% url 'account_signup' %}"><p>登録</p></a>
{% endblock %}

{% block extra_js %}

{% endblock %}
