{% extends 'users/base_user.html' %}

{% block title %}
  {{ object.profile.name }} - Cluster
{% endblock %}

{% block extra_css %}{% endblock %}

{% block page_title %}
    {{ object.profile.name }} さんのプロフィール
{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="left-menu">
      <h2>ユーザ名</h2>
      <p>{{ object.profile.name }}</p>
      <img src="{{ MEDIA_URL }}{{ object.profile.thumbnail }}" width="300" height="300" />

      {% if object.profile.homepage %}
     <h2>ホームページ</h2>
     <p>{{ object.profile.homepage }}</p>
      {% endif %}

      <h2>自己紹介</h2>
      <p>{{ object.profile.self_introduction }}</p>

      {% if user == object %}
          <p><a href="{% url 'users:settings' %}">プロフィールを編集する</a></p>
      {% endif %}

      <h2>フォロー</h2>
      <p>{{ followings|length }} 人</p>
        {% include 'partial/_follower_thumbnails.html' with followings=followings %}

      <h2>フォロワー</h2>
      <p>{{ followers|length }} 人</p>
        {% include 'partial/_following_thumbnails.html' with follower=follower %}
    </div>
  </div>
  {% endblock %}
{% block extra_js %}
{% endblock %}
