{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Cluster {% endblock title %} - Cluster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>


  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'users:home' %}">Cluster</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="">お気に入り</a></li>

                  {% if user.is_authenticated %}
                      <li><a href="{% url 'users:settings' %}">
                          <img src="{{ MEDIA_URL }}{{ user.profile.thumbnail }}" width="30px" height="30px"/>
                      </a></li>
                  {% else %}
                      <li><a href="{% url 'account_email' %}">ログイン</a></li>
                      <li><a href="{% url 'account_signup' %}">アカウント登録</a></li>
                  {% endif %}
              </ul>
          </div><!--/.nav-collapse -->
      </div>
  </div>

  <div class="container">

      {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
  </div><!-- /.container -->


  <!-- Le javascript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    {% load static %}
    <script type="text/javascript" src='{% static 'jquery/jquery.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/project.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>

